version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      # THIS IS THE CRITICAL PART
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  ingestion-service:
    build: ./services/ingestion-api
    container_name: ingestion-api
    env_file:
      - .env
    depends_on:
      - kafka
    ports:
      - "3000:3000"
    environment:
      KAFKA_BROKERS: kafka:9092

  ml-inference-service:
    build: ./services/ml-inference
    container_name: ml-inference
    depends_on:
      - kafka
    environment:
      KAFKA_BROKERS: kafka:9092

  results-service:
    build: ./services/results-service
    container_name: results-service
    env_file:
      - .env
    depends_on:
      - kafka
    ports:
      - "4000:4000"
    environment:
      KAFKA_BROKERS: kafka:9092
